{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <button type="submit" class="btn btn-success">Купить все</button>
    {#ToDo как по картинке сделать таблицу#}
    {% for i in users %}
        <table cellspacing="5" cellpadding="10" border="1" width="100%">
            <tr>
                <td>{{ i.zakaz_user_id__username }}</td>
                <td>{{ i.zakaz_time }}</td>
                <td>номер теле</td>
                <td>
                    <button data-bs-toggle="collapse" data-bs-target="#boobs_{{ i.zakaz_user_id__username }}{{ i.zakaz_time.day }}{{ i.zakaz_time.hour }}{{ i.zakaz_time.minute }}">
                        Collapsible
                    </button>
                </td>
                <td>Кнопачка для одобрения</td>
                <td>Кнопачка для отклонения</td>
            </tr>
            {% for o in orders %}
                {% if o.zakaz_user_id.username == i.zakaz_user_id__username and o.zakaz_time == i.zakaz_time %}
                    <tr id="boobs_{{ i.zakaz_user_id__username }}{{ i.zakaz_time.day }}{{ i.zakaz_time.hour }}{{ i.zakaz_time.minute }}" class="collapse">
                        <td>Имя - {{ o.zakaz_goods_id.NameGoods }}</td>
                        <td>Цена - {{ o.zakaz_goods_id.Price }}</td>
                        <td>Хуйня - {{ o.zakaz_goods_id.GoodsStock }}</td>
                        <td>Тип - {{ o.zakaz_goods_id.GoodsType }}</td>
                    </tr>
                {% endif %}
            {% endfor %}

        </table>
    {% endfor %}
{% endblock %}